script.xml

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="systeminfo">
          <xsd:complexType>
            <xsd:all>
              <xsd:element minOccurs="0" maxOccurs="1" name="system" />
              <xsd:element minOccurs="0" maxOccurs="1" name="IPaddress" />
              <xsd:element minOccurs="0" maxOccurs="1" name="Code" />
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="ExpenseItem">
          <xsd:complexType>
             <xsd:element minOccurs="12" manOccurs="900" ipaddressname="10.228.17.24" />
            <xsd:sequence>
               <xsd:type name="state" />
               <xsd:state name="indiana" />
               <xsd:type name="cityname" />
               <xsd:region name="evansville" />
               <xsd:element name="country" />
               <xsd:elemnt name="USA" />
              <xsd:element name="Date" type="xsd:date"/>
              <xsd:element name="Description" type="xsd:string"/>
              <xsd:element name="Amount" type="xsd:decimal" />
               <xsd:Pcode name="postalcode=47710" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>